{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock%}
{% block content %}
<div class="row gy-4 about" data-aos="fade-up">
  <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" >
    <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
  </div>
  <div class="col-lg-6 content order-last  order-lg-first">
    <h3>The Hassle Free Way</h3>
    <p>
      Tired of having to spend so much Time and Energy Distributing results? Get more done with RAES completely hassle free.
    </p>
    <ul>
      <li  >
        <i class="bi bi-diagram-3"></i>
        <div>
          <h5>Distribution prowess</h5>
          <p>RES is so easy to use and very fast when it comes to sending of result to corresponding emails, it is so fast that it takes seconds to send 300 different results to 300 diffent emails.</p>
        </div>
      </li>
      {% comment %} <li   >
        <i class="bi bi-fullscreen-exit"></i>
        <div>
          <h5>Privacy assurance</h5>
          <p>RES assures that no other student can see any other student result.</p>
        </div>
      </li> {% endcomment %}
      {% comment %} <li>
        <i class="bi bi-broadcast"></i>
        <div>
          <h5>Voluptatem et qui exercitationem</h5>
          <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
        </div>
      </li> {% endcomment %}
    </ul>
  </div>
</div>

</div>
</section><!-- End About Us Section -->

<!-- ======= Stats Counter Section ======= -->



<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials" >
<div class="container">

<div class="slides-1 swiper">
  <div class="swiper-wrapper">

    <div class="swiper-slide" >
      <div class="testimonial-item">
        <img src="{% static 'assets/img/team/team-1.jpg' %}" class="testimonial-img" alt="">
        <h3>Paul Madu</h3>
        <h4>Developer &amp; Co-Founder</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          This is going to be revolutionary as it breaks almost every problem faced in checking of results.
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
    </div><!-- End testimonial item -->

     <div class="swiper-slide">
      <div class="testimonial-item">
        <img src="{% static 'assets/img/team/team-2.jpg' %}" class="testimonial-img" alt="">
        <h3>Elvis Chilaka</h3>
        <h4>Product Manager &amp; Co-Founder</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
    </div><!-- End testimonial item -->
{% comment %}
    <div class="swiper-slide">
      <div class="testimonial-item">
        <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
        <h3>Jena Karlis</h3>
        <h4>Store Owner</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
    </div><!-- End testimonial item -->

    <div class="swiper-slide">
      <div class="testimonial-item">
        <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
        <h3>Matt Brandon</h3>
        <h4>Freelancer</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
    </div><!-- End testimonial item -->

    <div class="swiper-slide">
      <div class="testimonial-item">
        <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
        <h3>John Larson</h3>
        <h4>Entrepreneur</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
    </div><!-- End testimonial item --> {% endcomment %}

  </div>
  <div class="swiper-pagination"></div>
</div>

</div>
</section><!-- End Testimonials Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
<div class="container">

<div class="section-header">
  <span>Frequently Asked Questions</span>
  <h2>Frequently Asked Questions</h2>

</div>

<div class="row justify-content-center"  >
  <div class="col-lg-10">

    <div class="accordion accordion-flush" id="faqlist">

      <div class="accordion-item">
        <h3 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
            <i class="bi bi-question-circle question-icon"></i>
            Are we sending the whole sheet of results to every student?
          </button>
        </h3>
        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
          <div class="accordion-body">
            No, not the whole sheet, but a particular row in the sheet containing the student's details.
          </div>
        </div>
      </div><!-- # Faq item-->

      <div class="accordion-item">
        <h3 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
            <i class="bi bi-question-circle question-icon"></i>
            Is it possible for a person who is not a course adviser to upload result and send?
          </button>
        </h3>
        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
          <div class="accordion-body">
           No, it is not. One have to be verified as a course adviser to be able to upload a sheet of results and send it. 
          </div>
        </div>
      </div><!-- # Faq item-->

      {% comment %} <div class="accordion-item">
        <h3 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
            <i class="bi bi-question-circle question-icon"></i>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
          </button>
        </h3>
        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
          <div class="accordion-body">
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
          </div>
        </div>
      </div><!-- # Faq item-->

      <div class="accordion-item">
        <h3 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
            <i class="bi bi-question-circle question-icon"></i>
            Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
          </button>
        </h3>
        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
          <div class="accordion-body">
            <i class="bi bi-question-circle question-icon"></i>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </div>
        </div>
      </div><!-- # Faq item-->

      <div class="accordion-item">
        <h3 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
            <i class="bi bi-question-circle question-icon"></i>
            Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
          </button>
        </h3>
        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
          <div class="accordion-body">
            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
          </div>
        </div>
      </div><!-- # Faq item--> {% endcomment %}
      
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#Ask_question" style="width:100%;">Ask Question</button>
  </div>
</div>
{% endblock %}