
{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}  
    {% if user.is_authenticated %}  
        
   

        <div class="row">
            {% if user.profile %}
                <div class="container">
                    {% if user.profile.profile_pics %}
                        <h4><a style="font-size: 8px;"><img src="{{ user.profile.profile_pics.url }}" alt="{{ user.username }}" style="width:60px; height:auto; border-radius:30px">{% endif %}</a> <a style="font-size: 20px;font-weight: 700;" >{{ user.first_name}} {{ user.last_name}} {% if user.profile.is_hod %}<i class="bi bi-patch-check-fill" style="color: #5ddbf2;"></i>{% endif %} </a></h4>
                    
                </div>
            {% endif %}
            {% if user.profile.is_hod %}
            <div class="container">
                <form action="{% url 'activity_form' %}" method="POST" enctype="multipart/form-data" style="font-size:15px">
                    {% csrf_token %}
                    <input type="file" name="uploaded_file"style="padding-bottom:10px;" ><br>
                     
                    <button type="submit" class = "btn btn-primary"style="font-size:15px;">upload</button>
                    <a style="color: red;">Please upload excel files only!!! </a> 
                </form>
            </div>
            
        </div><br>  
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="files" > 
           
            {% for act in activity_list %}
                {% if act.user == user %}
                    <div class="file">
                        <h5><a href="{% url 'file_details' act.pk  %}" class="stretched-link">
                            {% if act.file_uploaded.name|length < 20 %}
                                {{ act.file_uploaded.name }}
                             
                            {%  else%}
                                {{ act.file_uploaded.name|slice:20 }}...
                            {% endif %}</a></h5>
                        
                    </div><br>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        {% if user.profile %}
        <h3>You are not yet registered as a course advisor in this app, contact the owner of the site to register. </h3>
        {% else %}
        <h3>You are not yet registered as a course advisor in this app, contact the owner of the site to register, meanwhile <a href="{% url 'create_profile' %}">create profile</a> </h3>
        {% endif %}
       {% endif %}
    {%else%}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>    
    {% endif %}
{% endblock %}