
{% extends "base.html" %}
{% block title %}{{receivers.first_name}} {{receivers.last_name}}{% endblock%}
{% block content %}  
{% if user.is_authenticated %}
<div style="padding-left: 15px;"><a href="{% url 'chat_list'%}" class="btn btn-primary">Back</a></div><br>

<div class="container" style="max-height:500px; overflow:auto; padding-top: 0%;">
    
    <h3><img src="{{ receivers.profile.profile_pics.url }}" style="height:50px; width:50px;border-radius:50% "> {{ receivers.username}}</h3>
</div><br> 
<div class="container auth-container" >
    <div class="container" style="max-height:500px; overflow:auto" >

    {% for msg in msgs %}

        {% if msg.sender == user and msg.receiver == receivers %}
        {% if msg.msg_picture %}
            <div class="sender-div" >
                <div class="sender" >
                        
                        <div style="padding:10px; ">
                            {{msg.msg}}<br>
                            <a href="{{ msg.msg_picture.url }}"><img src="{{ msg.msg_picture.url }}" alt="" style="max-width: 50px; max-height:50px"><br></a>
                        </div>
                </div> 
            </div><br><br>
             {% else %}
             <div class="sender-div">
                <div class="sender">
                        <div style="padding:10px">
                            {{msg.msg}}
                        </div>
                </div> 
            </div>
        {% endif %}<br><br><br>{% endif %}

        {% if msg.sender == receivers and msg.receiver == user %}
        {% if msg.msg_picture %}
            <div class="receiver-div">
                <div class="receiver">
                        
                        <div style="padding:10px">
                            {{msg.msg}}<br>
                            <a href="{{ msg.msg_picture.url }}"><img src="{{ msg.msg_picture.url }}" alt="" style="max-width: 50px; max-height:50px"><br></a>
                        </div>
                </div> 
            </div><br><br>
             {% else %}
             <div class="receiver-div">
                <div class="receiver">
                        <div style="padding:10px">
                            {{msg.msg}}
                        </div>
                </div> 
            </div>
        {% endif %}<br><br><br>{% endif %}
    {% endfor %}<br>
</div>
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data" style="font-size:15px">
        {% csrf_token %}
        <div class="row" style="flex: relative; justify-content:center;">
            <div class="col-6">
            <input type="text" name="messg" class="form-control" style="max-width:600px">
            </div>
            <div class="col-3">
                <input type="file" name="msg_files">
                </div>
            <div class="col-3">
            <button type="submit" class = "btn btn-primary"style="font-size:15px">send</button> 
            </div>
        </div>
        
        
    </form>
</div></div> 
{% endif %}
{% endblock %}