{% extends "base.html" %}
{% block content %}  
{% load crispy_forms_tags %}
    
<div class="auth-container">
  {% if validlink %}
  <h3>Change password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <center>
      <button type="submit" class="btn btn-primary">Change password</button>
    </center>
    
  </form>
{% else %}
  <p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
{% endif %}
</div>
{% endblock %}