{% extends "base.html" %}
{% block title %}Login{% endblock%}

{% block content %}  
<div class="container">
    {% if messages %}
            <div class="alert alert-danger">{{messages}}</div>
    {% endif %}
  </div>
<div class="auth-container">
  <div class="container" style="padding:10px">
    <form action="" method="POST">
      {% csrf_token %}
      <input id="login_username" type="text" name="username" placeholder="Username" class="form-control"><br>
      <input id="login_password" type="password" name="password" placeholder="Password" class="form-control"><br>
      <center>
        <button class="btn btn-primary loginspin"  style="width:100%">Login</button>
      </center>
    </form>
    <div class="container">
      <p><a href="#" data-toggle="modal" data-target="#Password_reset">forgot password</a></p>
      <p>Don't have an account, <a href="{% url 'sign_up' %}"> Sign Up</a></p>
    </div>


  </div>
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  </div>
  
        
{% endblock %}