
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}  
<div class="container">
  {% if form.messages %}
      {% for message in form.messages %}
          <div class="alert alert-danger">{{message}}</div>
      {% endfor %}
  {% endif %}
</div>
<center>
<h1>Create an account</h1>
  <div style="padding:10px" class="auth-container" > 
    <form action="" method="POST"class="row g-3 needs-validation">
        {% csrf_token %}
       
        <div style="padding:10px"> 
          {% for field in signupform %}
              {{ field|as_crispy_field }}
              <p style="color: red">{{ field.error }}</p>
          {% endfor %}
          <br>
          <center>
            <button class="btn btn-success">Sign Up</button>
          </center>  
        </div>
        <br/>
              
    </form>
    <div class="container">
      <p>If you already have an account, <a href="{% url 'login' %}">Login</a></p>
    </div>
  </div>
</center>  
{% endblock %}